üì¶**¬øQu√© es una tabla?**
Las bases de datos est√°n formadas por tablas, que son como hojas de c√°lculo de Excel:

| id | nombre   | pa√≠s      |
| -- | -------- | --------- |
| 1  | Victoria | Australia |
| 2  | Neuqu√©n  | Argentina |


Esta tabla podr√≠a llamarse regions. Cada fila es una entrada (una regi√≥n) y cada columna es una caracter√≠stica (el nombre, el pa√≠s, etc.).

### Orden de los comandos en SQL


SELECT ...  
FROM ...  
[JOIN ... ON ...]  
[WHERE ...]  
GROUP BY ...  
HAVING ...  
ORDER BY ...

| **Tipo de Query**        | **Palabra clave**         | **¬øQu√© hace?**                                                                | **Ejemplo**                                                                       | **Notas importantes**                                               |
|--------------------------|---------------------------|--------------------------------------------------------------------------------|------------------------------------------------------------------------------------|----------------------------------------------------------------------|
| **Seleccionar columnas** | `SELECT ... FROM`         | Muestra columnas espec√≠ficas de una tabla.                                    | `SELECT name, country FROM regions;`                                              | Puedes usar `*` para seleccionar todas las columnas.                |
| **Quitar duplicados**    | `SELECT DISTINCT ...`     | Muestra solo valores √∫nicos (sin duplicados).                                 | `SELECT DISTINCT country FROM regions;`                                           | √ötil para ver qu√© valores √∫nicos existen.                           |
| **Filtrar filas**        | `WHERE`                   | Filtra filas que cumplan cierta condici√≥n.                                    | `SELECT * FROM regions WHERE country = 'Argentina';`                              | Comillas simples para texto, operadores como `=`, `<`, `>`, `LIKE`. |
| **Ordenar resultados**   | `ORDER BY`                | Ordena las filas por una o varias columnas.                                   | `SELECT * FROM species ORDER BY genus ASC;`                                       | Usa `DESC` para orden descendente.                                  |
| **Contar filas**         | `COUNT(*)`, `COUNT(col)`  | Devuelve el n√∫mero de filas o de valores no nulos.                            | `SELECT COUNT(*) FROM regions;`                                                   | `COUNT(DISTINCT col)` cuenta valores √∫nicos.                        |
| **Calcular m√°ximo**      | `MAX(col)`                | Devuelve el valor m√°ximo de una columna num√©rica.                             | `SELECT MAX(latitude) FROM observations;`                                         | Tambi√©n existen `MIN()`, `AVG()`, `SUM()`.                          |
| **Agrupar filas**        | `GROUP BY`                | Agrupa filas con un mismo valor y permite usar funciones como `COUNT`, `SUM`. | `SELECT country, COUNT(*) FROM regions GROUP BY country;`                         | Solo puedes mostrar columnas que est√©n en `GROUP BY` o agregadas.   |
| **Filtrar grupos**       | `HAVING`                  | Filtra despu√©s del `GROUP BY` (como un `WHERE` para grupos).                  | `SELECT country, COUNT(*) FROM regions GROUP BY country HAVING COUNT(*) > 2;`     | `HAVING` va despu√©s de `GROUP BY`.                                  |
| **Limitar resultados**   | `LIMIT`                   | Devuelve solo las primeras N filas.                                           | `SELECT * FROM observations LIMIT 10;`                                            | Se usa con `ORDER BY` para obtener "los m√°s" o "los primeros".      |
| **Unir tablas**          | `JOIN ... ON`             | Une dos tablas que tienen campos relacionados.                                | `SELECT * FROM observations JOIN regions ON observations.region_id = regions.id;` | Puedes usar alias (`o`, `r`) para acortar nombres.                  |
| **Contar √∫nicos**        | `COUNT(DISTINCT col)`     | Cuenta cu√°ntos valores diferentes hay.                                        | `SELECT COUNT(DISTINCT country) FROM regions;`                                    | Muy √∫til para ver variedad.                                         |
| **Concatenar texto**     | `||` (SQLite)             | Junta textos en una sola cadena.                                              | `SELECT species_id || '-' || region_id FROM observations;`                        | En MySQL se usa `CONCAT(col1, col2)`.                               |
| **Subconsultas**         | `(SELECT ...)`            | Consulta dentro de otra.                                                      | `SELECT * FROM (SELECT ... ) AS sub;`                                             | Muy potente para b√∫squedas m√°s complejas.                           |

### üß† Gu√≠a Interactiva: Queries SQL B√°sicas üê£

| üß© Tipo de Consulta       | üè∑Ô∏è Palabra clave         | üìö ¬øQu√© hace?                                                   | üß™ Ejemplo                                                                | üí° Tip o Truco                                                  |
|---------------------------|---------------------------|------------------------------------------------------------------|---------------------------------------------------------------------------|------------------------------------------------------------------|
| üîç Seleccionar columnas   | `SELECT ... FROM`         | Muestra columnas espec√≠ficas de una tabla                        | `SELECT name, country FROM regions;`                                     | Usa `*` si quieres ver todas las columnas                       |
| üéØ Quitar duplicados      | `SELECT DISTINCT ...`     | Muestra solo valores √∫nicos (sin repeticiones)                   | `SELECT DISTINCT country FROM regions;`                                  | Perfecto para listas limpias sin repes                         |
| üßπ Filtrar filas          | `WHERE`                   | Elige solo las filas que cumplan una condici√≥n                   | `SELECT * FROM regions WHERE country = 'Argentina';`                     | Usa `=`, `LIKE`, `<`, `>` seg√∫n el tipo de filtro              |
| üî¢ Ordenar resultados     | `ORDER BY`                | Ordena las filas por una o m√°s columnas                         | `SELECT * FROM species ORDER BY genus ASC;`                              | Usa `DESC` si quieres orden descendente                        |
| üßÆ Contar cosas           | `COUNT(*)` o `COUNT(col)` | Cuenta filas (o valores no nulos si usas `col`)                 | `SELECT COUNT(*) FROM regions;`                                          | Comb√≠nalo con `DISTINCT` para contar √∫nicos                   |
| üìà M√°ximo / M√≠nimo        | `MAX()`, `MIN()`          | Devuelve el valor m√°s alto o m√°s bajo de una columna num√©rica   | `SELECT MAX(latitude) FROM observations;`                                | Tambi√©n puedes usar `AVG()` o `SUM()`                         |
| üß∫ Agrupar filas          | `GROUP BY`                | Agrupa filas que comparten un valor y aplica funciones agregadas | `SELECT country, COUNT(*) FROM regions GROUP BY country;`                | Solo puedes mostrar columnas agregadas o agrupadas            |
| üîç Filtrar grupos         | `HAVING`                  | Filtra despu√©s de agrupar, como un `WHERE` para grupos           | `SELECT country, COUNT(*) FROM regions GROUP BY country HAVING COUNT(*) > 2;` | `HAVING` siempre va despu√©s de `GROUP BY`              |
| ‚úÇÔ∏è Limitar resultados     | `LIMIT`                   | Muestra solo un n√∫mero fijo de filas                            | `SELECT * FROM observations LIMIT 10;`                                   | √ösalo con `ORDER BY` para ver los top                           |
| ü§ù Unir tablas            | `JOIN ... ON`             | Junta columnas de dos tablas que tengan relaci√≥n entre s√≠       | `SELECT * FROM observations JOIN regions ON observations.region_id = regions.id;` | Usa alias como `o`, `r` para acortar                           |
| üßÆ Contar √∫nicos          | `COUNT(DISTINCT col)`     | Cuenta cu√°ntos valores diferentes hay                          | `SELECT COUNT(DISTINCT country) FROM regions;`                           | Ideal para medir diversidad o variedad                        |
| üß∑ Concatenar texto       | `||` (SQLite)             | Une columnas en un mismo texto                                  | `SELECT species_id || '-' || region_id FROM observations;`               | En MySQL se usa `CONCAT(col1, col2)`                          |
| üåÄ Subconsulta            | `(SELECT ...)`            | Consulta dentro de otra consulta                                | `SELECT * FROM (SELECT ... ) AS sub;`                                    | Para filtrar por m√°ximos, unir resultados, etc.               |

---

### üß† Mini Quiz üé≤

1. ‚ùì ¬øQu√© palabra usar√≠as para eliminar duplicados en una columna como `country`?
2. ‚ùì ¬øQu√© combinaci√≥n usar√≠as para saber cu√°l es el pa√≠s con m√°s regiones registradas?
3. ‚ùì ¬øQu√© pasa si usas `HAVING` sin `GROUP BY`?

‚úçÔ∏è ¬°Responde abajo o prueba tus ideas directamente en tu c√≥digo!

---

### üê• BONUS VISUAL

```sql
-- ¬øCu√°l es el pa√≠s con m√°s regiones registradas?
SELECT country, COUNT(*) AS total
FROM regions
GROUP BY country
ORDER BY total DESC
LIMIT 1;